.hidden {
  display: none;
}

.jumbotron {
  align-items: center;
  text-align: center;
  background-color: lightgray;
}

.jumbotron img {
  height: 640px;
  width: auto;
}

body {
  background-color: slategray;
  font-weight: 600;
}